In [35]:
import pandas as pd
df=pd.read_csv("in-vehicle-coupon-recommendation.csv")

In [36]:
df.shape

(12684, 26)

In [38]:
dup=df[df.duplicated()]
dup

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
4192,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,less1,less1,1,1,1,0,1,1
4236,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Male,26,Single,...,gt8,gt8,4~8,less1,1,1,1,0,1,1
4280,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,26,Single,...,never,4~8,1~3,less1,1,1,1,0,1,1
4324,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,46,Single,...,never,4~8,1~3,1~3,1,1,1,0,1,1
4409,Work,Alone,Sunny,80,7AM,Carry out & Take away,1d,Female,21,Single,...,never,less1,1~3,never,1,1,1,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8511,Home,Alone,Sunny,80,6PM,Bar,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1
8512,Home,Partner,Sunny,30,10PM,Carry out & Take away,2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,0,0,1,1
8513,Work,Alone,Rainy,55,7AM,Restaurant(<20),2h,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8515,Work,Alone,Snowy,30,7AM,Restaurant(20-50),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,1,1,0,1,0
8516,Work,Alone,Sunny,80,7AM,Restaurant(<20),1d,Male,46,Married partner,...,1~3,1~3,less1,1~3,1,0,0,1,0,1

In [40]:
df.drop_duplicates(inplace=True)
df.shape

(12610, 26)

In [41]:
miss=df.isnull().sum()
print(miss)

destination                 0
passanger                   0
weather                     0
temperature                 0
time                        0
coupon                      0
expiration                  0
gender                      0
age                         0
maritalStatus               0
has_children                0
education                   0
occupation                  0
income                      0
car                     12502
Bar                       107
CoffeeHouse               217
CarryAway                 150
RestaurantLessThan20      129
Restaurant20To50          189
toCoupon_GEQ5min            0
toCoupon_GEQ15min           0
toCoupon_GEQ25min           0
direction_same              0
direction_opp               0
Y                           0
dtype: int64

In [48]:
df_cl=df.drop("car",axis=1)
df_cl.shape

(12610, 25)

In [49]:
miss=df_cl.isnull().sum()
print(miss)

destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                     107
CoffeeHouse             217
CarryAway               150
RestaurantLessThan20    129
Restaurant20To50        189
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Y                         0
dtype: int64

In [60]:
df_cl.loc[(df_cl['Bar'].isnull())&(df_cl['CarryAway']=='never'),'Bar']='never'

In [66]:
import numpy as np

bar_values = df_cl['Bar'].dropna().unique()
carryaway_values = df_cl['CarryAway'].dropna().unique()
def fill_bar(row):
    if pd.isna(row['Bar']) and row['CarryAway'] != 'never':
        return np.random.choice(bar_values)
    return row['Bar']

def fill_carryaway(row):
    if pd.isna(row['CarryAway']):
        return np.random.choice(carryaway_values)
    return row['CarryAway']
df_cl['Bar'] = df_cl.apply(fill_bar, axis=1)
df_cl['CarryAway'] = df_cl.apply(fill_carryaway, axis=1)
miss=df_cl.isnull().sum()
print(miss)

destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                       0
CoffeeHouse             217
CarryAway                 0
RestaurantLessThan20    129
Restaurant20To50        189
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Y                         0
dtype: int64

In [67]:
import pandas as pd
import numpy as np

df=pd.read_csv("in-vehicle-coupon-recommendation.csv")
print(df[['RestaurantLessThan20','Restaurant20To50']])

      RestaurantLessThan20 Restaurant20To50
0                      4~8              1~3
1                      4~8              1~3
2                      4~8              1~3
3                      4~8              1~3
4                      4~8              1~3
...                    ...              ...
12679                  4~8              1~3
12680                  4~8              1~3
12681                  4~8              1~3
12682                  4~8              1~3
12683                  4~8              1~3

[12684 rows x 2 columns]

In [71]:
import pandas as pd

result = df_cl.groupby('RestaurantLessThan20')['Restaurant20To50'].unique()
result

RestaurantLessThan20
1~3           [never, less1, 1~3, 4~8, nan]
4~8      [1~3, less1, never, 4~8, nan, gt8]
gt8           [gt8, 1~3, less1, never, 4~8]
less1         [1~3, less1, never, 4~8, nan]
never                     [never, 1~3, nan]
Name: Restaurant20To50, dtype: object

In [89]:
data = {'RestaurantLessThan20': ['1~3','4~8','gt8','less1','never','4~8','gt8',None],
        'Restaurant20To50':['never',None,'gt8',None,None,'4~8',None,'1~3']}
value_mapping = {
    '1~3': ['never','less1','1~3','4~8',np.nan],
    '4~8': ['1~3','less1','never','4~8',np.nan,'gt8'],
    'gt8': ['gt8','1~3','less1','never','4~8'],
    'less1': ['1~3','less1','never','4~8',np.nan],
    'never': ['never','1~3',np.nan]
}

def fill_restaurant20To50(row):
    if pd.isna(row['Restaurant20To50']) and row['RestaurantLessThan20'] in value_mapping:
        possible_values = [v for v in value_mapping[row['RestaurantLessThan20']] if pd.notna(v)]
        if possible_values:
            return np.random.choice(possible_values)
    return row['Restaurant20To50']
df_cl['Restaurant20To50']=df_cl.apply(fill_restaurant20To50, axis=1)
miss=df_cl.isnull().sum()
print(miss)

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [85]:

df_cl['Restaurant20To50'] = df_cl['Restaurant20To50'].fillna(df_cl['Restaurant20To50'].mode()[0])
df_cl['RestaurantLessThan20'] = df_cl['RestaurantLessThan20'].fillna(df_cl['RestaurantLessThan20'].mode()[0])


miss=df_cl.isnull().sum()
miss

destination               0
passanger                 0
weather                   0
temperature               0
time                      0
coupon                    0
expiration                0
gender                    0
age                       0
maritalStatus             0
has_children              0
education                 0
occupation                0
income                    0
Bar                       0
CoffeeHouse             217
CarryAway                 0
RestaurantLessThan20      0
Restaurant20To50          0
toCoupon_GEQ5min          0
toCoupon_GEQ15min         0
toCoupon_GEQ25min         0
direction_same            0
direction_opp             0
Y                         0
dtype: int64

In [86]:
result=df_cl.groupby('CoffeeHouse')['RestaurantLessThan20'].unique()
result

CoffeeHouse
1~3      [1~3, 4~8, less1, gt8, never, nan]
4~8      [1~3, 4~8, gt8, never, less1, nan]
gt8                  [1~3, gt8, 4~8, less1]
less1    [4~8, less1, 1~3, gt8, never, nan]
never    [4~8, 1~3, gt8, never, nan, less1]
Name: RestaurantLessThan20, dtype: object

In [87]:

data = {'RestaurantLessThan20': ['1~3','4~8','gt8','less1','never','4~8','gt8',None],
        'CoffeeHouse': ['1~3',None,'gt8',None,None,'4~8',None,'1~3']}
value_mapping = {
    '1~3': ['1~3','4~8','less1','gt8','never',np.nan],
    '4~8': ['1~3','4~8','gt8','never','less1',np.nan],
    'gt8': ['1~3','gt8','4~8','less1'],
    'less1': ['4~8','less1','1~3','gt8','never',np.nan],
    'never': ['4~8','1~3','gt8','never',np.nan,'less1']
}
def fill_coffeehouse(row):
    if pd.isna(row['CoffeeHouse']) and row['RestaurantLessThan20'] in value_mapping:
        possible_values = [v for v in value_mapping[row['RestaurantLessThan20']] if pd.notna(v)]
        if possible_values:
            return np.random.choice(possible_values)
    return row['CoffeeHouse']
df_cl['CoffeeHouse'] = df_cl.apply(fill_coffeehouse, axis=1)
miss=df_cl.isnull().sum()
miss

destination             0
passanger               0
weather                 0
temperature             0
time                    0
coupon                  0
expiration              0
gender                  0
age                     0
maritalStatus           0
has_children            0
education               0
occupation              0
income                  0
Bar                     0
CoffeeHouse             0
CarryAway               0
RestaurantLessThan20    0
Restaurant20To50        0
toCoupon_GEQ5min        0
toCoupon_GEQ15min       0
toCoupon_GEQ25min       0
direction_same          0
direction_opp           0
Y                       0
dtype: int64

In [88]:
df_cl

,destination,passanger,weather,temperature,time,coupon,expiration,gender,age,maritalStatus,...,CoffeeHouse,CarryAway,RestaurantLessThan20,Restaurant20To50,toCoupon_GEQ5min,toCoupon_GEQ15min,toCoupon_GEQ25min,direction_same,direction_opp,Y
0,No Urgent Place,Alone,Sunny,55,2PM,Restaurant(<20),1d,Female,21,Unmarried partner,...,never,never,4~8,1~3,1,0,0,0,1,1
1,No Urgent Place,Friend(s),Sunny,80,10AM,Coffee House,2h,Female,21,Unmarried partner,...,never,never,4~8,1~3,1,0,0,0,1,0
2,No Urgent Place,Friend(s),Sunny,80,10AM,Carry out & Take away,2h,Female,21,Unmarried partner,...,never,never,4~8,1~3,1,1,0,0,1,1
3,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,2h,Female,21,Unmarried partner,...,never,never,4~8,1~3,1,1,0,0,1,0
4,No Urgent Place,Friend(s),Sunny,80,2PM,Coffee House,1d,Female,21,Unmarried partner,...,never,never,4~8,1~3,1,1,0,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12679,Home,Partner,Rainy,55,6PM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,1
12680,Work,Alone,Rainy,55,7AM,Carry out & Take away,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,0,1,1
12681,Work,Alone,Snowy,30,7AM,Coffee House,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0
12682,Work,Alone,Snowy,30,7AM,Bar,1d,Male,26,Single,...,never,1~3,4~8,1~3,1,1,1,0,1,0
12683,Work,Alone,Sunny,80,7AM,Restaurant(20-50),2h,Male,26,Single,...,never,1~3,4~8,1~3,1,0,0,1,0,0